<h3>{{description}}</h3>
<div class="bottle">
    Category: {{category}}<br>
    Subcategory: {{subCategory}}<br>
    Proof: {{proof}}<br>
    Price: {{price}}<br>
    Size: {{size}}<br>
    Age: {{age}}<br>
</div>