<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{description}}</h5>
        <p class="card-text"> Category: {{category}}/>
        <p class="card-text"> Subcategory: {{subCategory}}<br>
        <p class="card-text"> Proof: {{proof}}</p>
        <p class="card-text"> Price: {{price}}</p>
        <p class="card-text"> Size: {{size}}</p>
        <p class="card-text"> Age: {{age}}</p>
    </div>
</div>