<tr>
    <td><a href="/{{id}}">{{description}}</a></td>
    <td>{{category}}</td>
    <td>{{subCategory}}</td>
    <td>{{age}}</td>
    <td>{{proof}}</td>
    <td>{{price}}</td>
    <td>{{size}}</td>
</tr>