
<div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">BRANDY / COGNAC
    </button>
    <div class="dropdown-menu">
        {{#BRANDY_COGNAC}}
            {{> subcategoriesLi}}
        {{/BRANDY_COGNAC}}
    </div>
</div>


<div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">CANADIAN
    </button>
    <div class="dropdown-menu">
        {{# CANADIAN}}
            {{> subcategoriesLi}}
        {{/CANADIAN}}
    </div>
</div>

<div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">IRISH
    </button>
    <div class="dropdown-menu">
        {{# IRISH}}
            {{> subcategoriesLi}}
        {{/IRISH}}
    </div>
</div>

<div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">OTHER IMPORTED WHISKEY
    </button>
    <div class="dropdown-menu">
        {{# OTHER_IMPORTED_WHISKY}}
            {{> subcategoriesLi}}
        {{/OTHER_IMPORTED_WHISKY}}
    </div>
</div>

<div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">VERMOUTH
    </button>
    <div class="dropdown-menu">
        {{# VERMOUTH}}
            {{> subcategoriesLi}}
        {{/VERMOUTH}}
    </div>
</div>

<div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">CACHACA
    </button>
    <div class="dropdown-menu">
        {{# CACHACA}}
            {{> subcategoriesLi}}
        {{/CACHACA}}
    </div>
</div>

<div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">NUTRAL GRAIN SPIRIT
    </button>
    <div class="dropdown-menu">
        {{# NEUTRAL_GRAIN_SPIRIT}}
            {{> subcategoriesLi}}
        {{/NEUTRAL_GRAIN_SPIRIT}}
    </div>
</div>

<div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">CORDIALS
    </button>
    <div class="dropdown-menu">
        {{#CORDIALS}}
            {{> subcategoriesLi}}
        {{/CORDIALS}}
    </div>
</div>

<div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">COCKTAILS
    </button>
    <div class="dropdown-menu">
        {{#COCKTAILS}}
            {{> subcategoriesLi}}
        {{/COCKTAILS}}
    </div>
</div>