<div id="searchControls" class="row">

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">DOMESTIC WHISKEY
        </button>
        <div class="dropdown-menu">
            {{#DOMESTIC_WHISKEY}}
                {{> subcategoriesLi}}
            {{/DOMESTIC_WHISKEY}}
        </div>
    </div>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">GIN
        </button>
        <div class="dropdown-menu">
            {{#GIN}}
                {{> subcategoriesLi}}
            {{/GIN}}
        </div>
    </div>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">VODKA
        </button>
        <div class="dropdown-menu">
            {{# VODKA}}
                {{> subcategoriesLi}}
            {{/VODKA}}
        </div>
    </div>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">SCOTCH
        </button>
        <div class="dropdown-menu">
            {{# SCOTCH}}
                {{> subcategoriesLi}}
            {{/SCOTCH}}
        </div>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">RUM
        </button>
        <div class="dropdown-menu">
            {{#RUM}}
                {{> subcategoriesLi}}
            {{/RUM}}
        </div>
    </div>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-display="static" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">TEQUILA
        </button>
        <div class="dropdown-menu">
            {{#TEQUILA}}
                {{> subcategoriesLi}}
            {{/TEQUILA}}
        </div>
    </div>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">MEZCAL
        </button>
        <div class="dropdown-menu">
            {{# MEZCAL}}
                {{> subcategoriesLi}}
            {{/MEZCAL}}
        </div>
    </div>


</div>





